@font-face {
font-family: AgentRed;
src: url('AGENTRED.TTF');
}


#content #singlePost .meta-data {
float:right;
width:270px;
}

#content #singlePost .ratingblock, .thumblock {
	float:right;
}

.gdthumb { position: relative; float: right; }

/* HEADER ELEMENTS
-----------------------------------*/

/* -- logo --*/
#logo-txt a {
	position:absolute;
	top:50px;
	left:0;
	font-family:AgentRed;
	font-size:48px;
	text-decoration:none;
}

#logo-txt a{
	color:#000;
}

#singlePost > #rating{
float:right;
margin-top:-45px;
}

#colLeft .wpcf7 input, #colLeft .wpcf7 textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B8C4C5 #FFFFFF #FFFFFF #B8C4C5;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;}
	
#colLeft .wpcf7 textarea {
	width:560px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#colLeft .wpcf7 input[type="submit"]{
	border:none;
	width:161px;
	height:42px;
	margin-top:10px;
	cursor:pointer;
	background:url(../images/but_form.png) 0 100% repeat-x;
	color:#FFF;
	font-size:12px;
	padding-bottom:14px;
	text-shadow:1px 1px #23829F;
}

#colLeft .wrap table input,
#colLeft .wrap table select,
#colLeft .wrap table textarea{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B8C4C5 #FFFFFF #FFFFFF #B8C4C5;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;}
	
	#colLeft .wrap table textarea, #wpsc_shopping_cart_container .wpsc_checkout_forms textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
 /* Shoping cart */

#wpsc_shopping_cart_container .wpsc_checkout_forms input,
#wpsc_shopping_cart_container .wpsc_checkout_forms select,
#wpsc_shopping_cart_container .wpsc_checkout_forms textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B8C4C5 #FFFFFF #FFFFFF #B8C4C5;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;}


#shopping-cart.sidebar {
background-color: #7DCFE7;
border-bottom-color: #1F9FD4;
border-top: 0;
padding-bottom: 20px;
}
#shopping-cart.sidebar h3 {
color: #fff;
}
#shopping-cart #sliding_cart {
line-height: 125%;
}
#shopping-cart.sidebar ul li {
margin: 0;
padding: 0;
background: none;
list-style-type: none;
}
#shopping-cart #sliding_cart {
font-weight: normal;
width: 180px;
margin: 0;
padding: 0;
}


/* Stars */

/* stars sizes: 12, 16, 20, 24, 30, 46 */
/* stars sets: christmas, crystal, darkness, oxygen, oxygen_gif, plain, pumpkin, soft, starrating, starscape */
/* thumbs sizes: 12, 16, 20, 24, 32, 40 */
/* thumbs sets: classical, starrating, starrating_gif */
/* loaders: flower, snake */


.starsbar.gdsr-size-24, .starsbar.gdsr-size-24 .gdheight, .starsbar.gdsr-size-24 a { height: 24px; }
.starsbar.gdsr-size-24 a.s1 { width: 24px; }
.starsbar.gdsr-size-24 a.s2 { width: 48px; }
.starsbar.gdsr-size-24 a.s3 { width: 72px; }
.starsbar.gdsr-size-24 a.s4 { width: 96px; }
.starsbar.gdsr-size-24 a.s5 { width: 120px; }
.starsbar.gdsr-size-24 a.s6 { width: 144px; }
.starsbar.gdsr-size-24 a.s7 { width: 168px; }
.starsbar.gdsr-size-24 a.s8 { width: 192px; }
.starsbar.gdsr-size-24 a.s9 { width: 216px; }
.starsbar.gdsr-size-24 a.s10 { width: 240px; }
.starsbar.gdsr-size-24 a.s11 { width: 264px; }
.starsbar.gdsr-size-24 a.s12 { width: 288px; }
.starsbar.gdsr-size-24 a.s13 { width: 312px; }
.starsbar.gdsr-size-24 a.s14 { width: 336px; }
.starsbar.gdsr-size-24 a.s15 { width: 360px; }
.starsbar.gdsr-size-24 a.s16 { width: 384px; }
.starsbar.gdsr-size-24 a.s17 { width: 408px; }
.starsbar.gdsr-size-24 a.s18 { width: 432px; }
.starsbar.gdsr-size-24 a.s19 { width: 456px; }
.starsbar.gdsr-size-24 a.s20 { width: 480px; }

.ratepost.gdsr-size-24, .ratepost.gdsr-size-24 .starsbar .gdouter { width: 240px; }

.rcmmpost.gdsr-size-24, .rcmmpost.gdsr-size-24 .starsbar .gdouter { width: 240px; }

.rcmmmulti.gdsr-size-24, .rcmmmulti.gdsr-size-24 .starsbar .gdouter { width: 480px; }

.ratecmm.gdsr-size-24, .ratecmm.gdsr-size-24 .starsbar .gdouter { width: 120px; }

.reviewcmm.gdsr-size-24, .reviewcmm.gdsr-size-24 .starsbar .gdouter { width: 120px; }



.gdsr-oxygen .starsbar.gdsr-size-24 .gdouter { background: url('../images/stars24.png') repeat-x 0px 0px; }
.gdsr-oxygen .starsbar.gdsr-size-24 .gdinner { background: url('../images/stars24.png') repeat-x 0px -48px; }
.gdsr-oxygen .starsbar.gdsr-size-24 .gdcurrent { background: url('../images/stars24.png') repeat-x 0px -24px; }
.gdsr-oxygen .starsbar.gdsr-size-24 a:hover { background: url('../images/stars24.png') repeat-x 0px -24px !important; }


.ratepost, .rcmmpost, .ratemulti, .rcmmmulti, .ratecmm, .reviewcmm { position: relative; display: block; }
.ratepost .starsbar .gdinner, .rcmmpost .starsbar .gdinner, .ratemulti .starsbar .gdinner, .rcmmmulti .starsbar .gdinner, .ratecmm .starsbar .gdinner, .reviewcmm .starsbar .gdinner { width: 0; }
.ratepost .starsbar a:active, .rcmmpost .starsbar a:active, .ratemulti .starsbar a:active, .rcmmmulti .starsbar a:active, .ratecmm .starsbar a:active, .reviewcmm .starsbar a:active { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a:visited, .rcmmpost .starsbar a:visited, .ratemulti .starsbar a:visited, .rcmmmulti .starsbar a:visited, .ratecmm .starsbar a:visited, .reviewcmm .starsbar a:visited { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a:hover, .rcmmpost .starsbar a:hover, .ratemulti .starsbar a:hover, .rcmmmulti .starsbar a:hover, .ratecmm .starsbar a:hover, .reviewcmm .starsbar a:hover { text-decoration: none; border: 0 !important; }
.ratepost .starsbar a, .rcmmpost .starsbar a, .ratemulti .starsbar a, .rcmmmulti .starsbar a, .ratecmm .starsbar a, .reviewcmm .starsbar a { position: absolute; display: block; left: 0; top: 0; text-decoration: none; border: 0 !important; cursor: pointer; background: none !important; }


.gdt-size-20.gdthumbtext { line-height: 20px; }
.gdt-size-20.gdthumb, .gdt-size-20.gdthumb a, .gdt-size-20.gdthumb div { width: 20px; height: 20px; }
.gdt-size-20.gdthumb.gddw a, .gdt-size-20.gdthumb.gddw div { background-position: 0px -20px !important; }
.gdt-size-20.gdthumb.gdup a:hover { background-position: 0px -40px; }
.gdt-size-20.gdthumb.gddw a:hover { background-position: 0px -60px !important; }

.gdt-size-20.gdthumb a.gdt-starrating, .gdt-size-20.gdthumb div.gdt-starrating { background: url('../images/thumbs20.png') no-repeat; }


.gdthumb a {
    border: 0 none !important;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
}

.rtexthumb .gdthumbtext { float: none; }
.gdthumbtext { float: left; font-size: 12px; }
.gdthumb { position: relative; float: right; }
.gdthumb.gdup a { background-position:  0px 0px; }
.thumblock .ratingloader { float: left; }

.ratemulti .starsbar .gdcurrent { width: 0; top: 0; position: absolute; }
.starsbar .gdinner { padding: 0; }
.ratingblock td { vertical-align: middle; }
.raterclear { clear: both; }
.raterleft { float: left; }
.raterright { float: right; }
.voted {color: #999;}
.inactive {color: #999;}
.thanks {color: #36AA3D;}
.static {color: #5D3126;}
.rater { top: 0; }

.ratingtextmulti { float: left; }
.ratingbutton { float: right; padding: 1px 6px; }
.ratingbutton.gdinactive { border: 1px solid #9c5f5f; background-color: #e9e4d4; }
.ratingbutton.gdactive { border: 1px solid black; background-color: #f1ede5; cursor: pointer; }
.ratingbutton a { line-height: 14px; text-decoration: none !important; }
.ratingbutton.gdactive { cursor: pointer; }
.ratingbutton.gdactive a { color: #ad1b1b; cursor: pointer; }
.ratingbutton.gdinactive a { color: gray; cursor: default; }
.gdmultitable { padding: 3px; margin: 3px; border: 1px solid #999999; }
.gdtblbottom td { padding-top: 4px; }
.gdtblbottom { margin-top: 2px; background-color: #fffcf4; }
.mtrow { background-color: #fffcf4; }
.mtrow td.mtstars { text-align: right; }
.mtrow.alternate { background-color: #f7f4ea; }
.gdtblmuravg { background-color: #fffcf4; }
.gdtblmuravg td { border-top: 2px solid #dcdcdc; text-align: center; }
.gdmultitable td { vertical-align: middle; padding: 2px 4px; color: black; }
.ratingblock, .thumblock { margin-bottom: 4px; margin-top: 4px; font-size: 12px; }
.ratingstarsinline { float: left; }
.ratingtext { padding-bottom: 2px; margin-bottom: 2px; margin-top: 0px; }
.ratingmulti img { border: 0; padding: 0; margin: 0; }
.gdouter { text-align: left; }

.ratingblockarticle { font-size: 1em; }
.ratingblockcomment { font-size: 0.8em; }
.ratingloaderarticle, .ratingloadercomment { font-size: 12px; text-align: center; vertical-align: middle; }

.cmminthide { display: none; }

/* loading indicators */
.loader { margin-left: auto; margin-right: auto; text-align: left; }

.loader.flower { background: url(../gfx/loader/flower.gif) no-repeat left; padding-left: 18px; }
.loader.flower.width { width: 16px; }
.loader.snake { background: url(../gfx/loader/snake.gif) no-repeat left; padding-left: 14px; }
.loader.snake.width { width: 12px; }

.loader.width { padding-left: 0px; }
.loader.arrows.thumb, .loader.flower.thumb, .loader.circle.thumb, .loader.broken.thumb,
.loader.radar.thumb, .loader.triangles.thumb, .loader.snake.thumb, .loader.snakebig.thumb,
.loader.brokenbig.thumb { background-position: center !important; padding-left: 0px !important; }

/* top rating widget */
.trw-title { text-align: center; font-size: 16px; font-family: "Century Gothic", Arial, Helvetica, sans-serif; }
.trw-rating { font-size: 44px; font-family: "Century Gothic", Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; }
.trw-footer { text-align: center; font-size: 11px; font-family: "Century Gothic", Geneva, Arial, Helvetica, sans-serif; }

.gdsrcacheloader {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 3px;
    padding: 3px;
}

.gdsrclsmall {
    background: url(../gfx/load_small.png) no-repeat left;
    padding-left: 28px;
    width: 120px;
}

.gdsrclbig {
    background: url(../gfx/load_big.png) no-repeat left;
    padding-left: 46px;
    width: 160px;
}

.gdsrclsmall strong { font-size: 14px; }
.gdsrclsmall em { font-size: 11px; }
.gdsrclbig strong { font-size: 17px; }
.gdsrclbig em { font-size: 14px; }





